@page "/Tickets/ViewTicket"
@using Models.Tickets;
@inject Tools.Misc.AccessTokenHelper _accresstokenHelper;
@inject IConfiguration _configuration;

<BugTracker.Components.Tickets.SideNav BackUrl="/Tickets">
    <BugTracker.Components.Tickets.ActionSideNav Guid="@id.ToString()" />
</BugTracker.Components.Tickets.SideNav>
<div style="margin-left:89px;">
    <NavMenu />
    <div class="w3-row">
        <div class="w3-col m5">
            <header>
                <h1 class="w3-container">@ticket.Name</h1>
                <div class="w3-bar">
                    <span class="w3-bar-item w3-text-gray">id @ticket.guid</span>
                </div>
            </header>
            <div class="w3-container">
                <div class="w3-row">
                    <div class="w3-quarter">
                        <header>
                            <span><b>Ticket type</b></span>
                        </header>
                        <div>
                            @ticket.Type
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <header>
                            <span><b>Ticket Severity</b></span>
                        </header>
                        <div>
                            @ticket.Severity
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <header>
                            <span><b>Created on</b></span>
                        </header>
                        <div>
                            @(Tools.Misc.DateTimeToStringConverter.Convert(ticket.DateCreated))
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <header>
                            <span><b>Last Modified</b></span>
                        </header>
                        <div>
                            @(Tools.Misc.DateTimeToStringConverter.Convert(ticket.DateModified))
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-container w3-margin-top">
                <header>
                    <span><b>Description</b></span>
                </header>
                <div>
                    @if(ticket.Description.ToLower().Contains("n/a")){
                        <span>No description given</span>
                    }
                    else{
                        @ticket.Description
                    }
                </div>
            </div>
        </div>
        <div class="w3-col m7">
            <header class="w3-container">
                <h1>Comments</h1>
            </header>
            <div class="w3-container" style="height:600px;">
                <BugTracker.Pages.Comments.Components.CommentList Guid="@id" />
            </div>
        </div>
    </div>
</div>

@code{
    Models.Tickets.Ticket ticket = new Ticket();

    [Parameter]
    [SupplyParameterFromQuery]
    public Guid id {set; get;}

    protected override async Task OnInitializedAsync(){
        string address = _configuration["BugTrackerBackendAddress"] + "/Ticket?id=" + id;
        ticket = await new Ticket().GetTicketDetail(id, _accresstokenHelper.accessToken, address);
    }
}