@page "/Tickets"
@using Models.Tickets;
@using Microsoft.AspNetCore.Components.Rendering;

<TicketSideMenu />
<HeadContent>
</HeadContent>
<div class="w3-main" style="margin-left:100px;">
    <!-- Ticket overview panel -->
    <div class="w3-row">
        <div class="w3-col m3 w3-padding">
            <div class="w3-card w3-container w3-black w3-display-container w3-mobile" style="height:200px; width:100%;">
                Will contain pie chart of the ratio of each ticket category.
            </div>
        </div>
        <div class="w3-col m6 w3-padding">
            <div class="w3-card w3-container w3-black w3-display-container w3-mobile" style="height:200px; width:100%;">
                Will contain line chart of number of ticket solved each day.
            </div>
        </div>
        <div class="w3-col m3" style="height:200px;">
            <div class="w3-card">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Available ticket types</b></span>
                    <span class="w3-bar-item w3-right w3-tooltip"><span class="material-symbols-sharp w3-small">question_mark</span><span class="w3-text w3-tag w3-tiny" style="position:absolute; bottom: -20px; left:-130px;">This section listed all category types available right now.</span></span>
                </div>
                <div class="w3-container w3-margin-bottom">
                    @((MarkupString)lstAvailableTicketTypes)
                    @code{
                        string lstAvailableTicketTypes = string.Empty;
                    }
                </div>
                
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Newest tickets</b></span>
                </div>
                <ul class="w3-ul">
                    @((MarkupString)list)
                    @code{
                        string list = string.Empty;                    }
                </ul>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Highest priority tickets</b></span>
                </div>
                <ul class="w3-ul">
                    @((MarkupString)lstHighPriorityTicketList)
                    @code{
                        string lstHighPriorityTicketList = string.Empty;
                    }
                </ul>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Longest unsolved tickets</b></span>
                </div>
                <ul class="w3-ul">
                    @((MarkupString) lstLongestUnsolvedTickets)
                    @code{
                        string lstLongestUnsolvedTickets;
                    }
                </ul>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-card w3-margin">
                <div class="w3-bar">
                    <span class="w3-bar-item"><b>Newly solved tickets</b></span>
                </div>
                <ul class="w3-ul">
                    @((MarkupString) lstNewlySolvedTickets)
                    @code{
                        string lstNewlySolvedTickets;
                    }
                </ul>
            </div>
        </div>
    </div>
</div>>


@code{
    /// For page lifecycle
    protected override async Task OnInitializedAsync(){
        // Get newest tickets
        foreach(var ticket in new Ticket().GetTickets()){
            list += "<a href=\"/ManageTicket?ticketId=\"" + ticket.Key + " style=\"text-decoration:none; \"><li class=\"w3-hover-black w3-ripple\">" + ticket.Value + "</li></a>\n";
        }

        // Get highest priority tickets
        foreach(var ticket in new Ticket().GetTickets()){
            lstHighPriorityTicketList += "<a href=\"/ManageTicket?ticketId=\"" + ticket.Key + " style=\"text-decoration:none; \"><li class=\"w3-hover-black w3-ripple\">" + ticket.Value + "</li></a>\n";
        }

        // Get longest unsolved tickets
        foreach(var ticket in new Ticket().GetTickets()){
            lstLongestUnsolvedTickets += "<a href=\"/ManageTicket?ticketId=\"" + ticket.Key + " style=\"text-decoration:none; \"><li class=\"w3-hover-black w3-ripple\">" + ticket.Value + "</li></a>\n";
        }

        // Get newly solved tickets
        foreach(var ticket in new Ticket().GetTickets()){
            lstNewlySolvedTickets += "<a href=\"/ManageTicket?ticketId=\"" + ticket.Key + " style=\"text-decoration:none; \"><li class=\"w3-hover-black w3-ripple\">" + ticket.Value + "</li></a>\n";
        }

        // Get ticket categories
        foreach(var ticketType in new Models.Tickets.Type().GetAvailableTypes()){
            lstAvailableTicketTypes += "<a href=\"#\" class=\"w3-tag w3-black w3-margin-small w3-button\" style=\"text-decoration:none; margin-bottom:4px;\">" + ticketType.Value + "</a> ";
        }

    }
}

